.likes {

}

.likes::before {
  content: "aaaa";
  width: 13px;
  height: 12px;

  background-image: url("source/img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.likes__text {
  font-family: @main-font;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;

  text-transform: uppercase;
}

.likes__button {

}

.likes__icon-heart {

}
