.main-navigation {
  position: relative;
  min-width: 320px;

  background-color: @main-color;
}

@media (min-width: @desktop-width) {
  .main-navigation {
    width: 940px;

    margin: auto;
  }
}

.main-navigation__list {
  font-family: inherit;
}
