.menu-list {
  display: flex;
  flex-direction: column;

  background-color: @main-color;

  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .menu-list {
    flex-direction: row;
  }
}


.menu-list--open {
  font-family: inherit;
}

.menu-list--closed {
  font-family: inherit;
}

.menu-list__item {
  align-self: center;

  font-family: @main-font;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;

  padding: 16px 0;

  text-transform: uppercase;
}

.menu-list__item--link {
  color: #ffffff;

  text-transform: uppercase;
  text-decoration: none;
}

.menu-list__item--top {
  align-self: stretch;

  line-height: 22px;

  padding: 22px 0;
  padding-left: 20px;
}
