.personal-info {
  font-family: inherit;
}

.personal-info__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;

  text-transform: uppercase;
}

.personal-info__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: red;
}

.personal-info__wrapper-name {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .personal-info__wrapper-name {
    flex-direction: row;
  }
}

.personal-info__wrapper-contact--inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .personal-info__wrapper-contact--inner {
    flex-direction: column-reverse;
  }
}

@media (min-width: @desktop-width) {
  .personal-info__wrapper-contact {
    display: flex;
    justify-content: space-around;
  }
}
