.photos {
  font-family: @main-font;
  color: @main-color;
}

.photos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}

.photos__item {
  width: 280px;
}

.photos__comment {
  background-color: #f2f2f2;
}

.photos__header {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
}

.photos__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.photos__time {
  font-weight: 300;

  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .photos__item {
    width: 300px;
  }
}

@media (min-width: @tablet-width) {
  .photos__comment--panorama {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .photos__text--panorama {
    order: 2;
  }
}
