.reviews {
  font-family: @main-font;
}

.reviews__list {
  font-family: inherit;
}

.reviews__item {
  font-family: inherit;
}

.reviews__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: @main-color;
}

.reviews__toggles {
  font-family: inherit;
}

.reviews__wrapper {
  font-family: inherit;
}
